:root {
  /*PRIMARY COLORS*/
  --linear-border-from: hsl(249, 99%, 64%);
  --linear-border-to: hsl(278, 94%, 30%);
  --input-erros: hsl(0, 100%, 66%);
  
  /*NEUTRAL*/
  --white: hsl(0, 0%, 100%);
  --l-grayish-violet: hsl(270, 3%, 87%);
  --d-grayish-violet: hsl(279, 6%, 55%);
  --v-dark-violet: hsl(278, 68%, 11%);
  
  /*TYPOGRAPHY*/
  --fs: 18px;
  --f-family: 'Space Grotesk', sans-serif;
  --fw: 500;
 
  /*BACKGROUND*/
  --desktop-bg: url(../public/assets/bg-main-desktop.png);
  --mobile-bg: url(../public/assets/bg-main-mobile.png);


} 

/*GENERAL STYLING*/

body {
  font-family: var(--f-family);
  font-size: var(--fs);
  font-weight: var(--fw);
  
}

.App {
  display: flex;
}
.background {
  content: var(--desktop-bg);
  max-width: 483px;
  height: 100vh;
}
.block {
  display: block;
}
.none {
  display: none;
}


@media (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .background {
    content: var(--mobile-bg);
    height: 100%;
  }
}